<footer class="mb-0 pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-4" >IT Solutions</h5>
        <ul>
          <li><a  routerLink="web-development" i18n>Web Development</a></li>
          <li><a  routerLink="mobile-development" i18n>Mobile Develoment</a></li>
        </ul>
      </div>
      <div class="col-md-4">
          <h5 class="mb-4" i18n>Business Solutions</h5>
          <p i18n>Pure Vision IT Solutions is a leading specialist in the world of Information and 
            Communications Technology (ICT) 
            , Information Security (InfoSec) and Innovation Advanced Solutions.</p>
      </div>
      <div class="col-md-4 social-media">
        <h5 class="mb-4">Social Media</h5>
        <a class="mx-3" href="https://www.facebook.com/Purevision-274076099895867/" target="_blank"><i class="icofont-facebook"></i></a>
        <a class="mx-3" href="https://twitter.com/purevision17" target="_blank"><i class="icofont-twitter"></i></a>
        <a class="mx-3" href="https://www.youtube.com/channel/UCqwEr80El3CASRFjQKvceSw?view_as=subscriber" target="_blank"><i class="icofont-youtube"></i></a>
        
      </div>
      
    </div>
    <div class="text-center py-3 Copyright">
        <p i18n>Copyright 2018 Pure Vision © All Right Reserved
        </p>
      </div>
  </div>
</footer>
