body{
    height: auto;
}

button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 500 !important;
}

h3 {
/*    font-family: 'Dancing Script', cursive;*/
    font-weight: 500;
    font-size: 49px;
    letter-spacing: 1px;
    margin-bottom: 10% !important;
}
.form-body{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
form label {
    text-align: right !important;
    font-weight: 500;
    color: #666;
}

form label small {
    font-style: italic;
}

.form-group input,
.form-group textarea {
    margin-bottom: 5%;
    border-radius: 0;
}
.form-check-inline, .form-check-input{
    margin-right: .3125rem !important;
    margin-left: .3125rem !important;
}
.upload_cv {
    border: none !important;
}

@media only screen and (max-width: 500px) {
    form label {
        text-align: right !important;
    }
}