<div class="container about-us mt-5 pt-5">
  <div class="row pt-5">
    <div class="col-md-6">
      <div>
        <h2 class="text-center mb-4" i18n>Who Are We?</h2>
        <p i18n>We are Pure vision, we offer technology solutions suitable for all individuals and companies through a variety of technical services provided by a team that is characterized by integration, specialization, creative and cooperative 
          and we are proud that we have a successful and honorable experience in
           the service of our valued customers.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <img src="assets/Images/group.jpg" class="img-fluid ">
      </div>
    </div>
  </div>
</div>
