<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid px-0" id="app">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <app-navbar></app-navbar>
<!-- <main [@routeAnimations]="prepareRoute(outlet)"> -->
  <router-outlet></router-outlet>
<!-- </main> -->
<!-- <ng-container *ngFor="let language of languageList"> 
  <a href="/{{language.code}}/"> 
  <button class="button">{{language.label}}</button> </a>
</ng-container> -->

<app-footer></app-footer>
</div>


