<div class="container my-5 pt-5">
  <div class="row pt-5">
      
    <div class="col-md-6 pt-3">
      <h2 class="mb-3 text-center" i18n>Stay in Touch With Us</h2>
      <!-- <p>We are here to assist you.
        </p> -->
        <form class="pt-3">
            <div class="form-group row">  
                <label for="staticEmail" class="col-sm-4 col-form-label" i18n>Full Name</label>   
                <div class="col-sm-8">        
                  <input type="text" class="form-control" placeholder="Full Name" i18n>
                </div> 
            </div>
            <div class="form-group row">    
                <label for="staticEmail" class="col-sm-4 col-form-label" i18n>E-mail</label>          
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="E-mail" i18n>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label" i18n>Country</label>
                 <div class="col-sm-8">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                      </select>
                 </div>
            </div>
            <div class="form-group mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label" i18n>Phone</label>
                <div class="col-sm-8">
                  <div class="input-group-prepend">
                   <span class="input-group-text" id="addon-wrapping"><i class="icofont-ui-call"></i></span>
                   <span class="input-group-text" id="addon-wrapping1">Code</span>
                   <span>  
                     <input type="number" class="form-control" placeholder="Phone number" aria-label="Your Phone Number" aria-describedby="addon-wrapping">
                   </span>
                  </div>
              </div>
            </div>
          <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label" i18n>Project Type</label>
              <div class="col-sm-8 pt-2">

                  <div class="form-check form-check-inline">
                      <input class="form-check-input px-1" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1" i18n>Web</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input px-1" type="checkbox" id="inlineCheckbox2" value="option2">
                      <label class="form-check-label" for="inlineCheckbox2" i18n>Android</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input px-1" type="checkbox" id="inlineCheckbox3" value="option3">
                      <label class="form-check-label" for="inlineCheckbox3" i18n>IOS</label>
                  </div>

              </div>
          </div>

          <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label" i18n>Project Name</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control">
              </div>
          </div>

          <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label" i18n>Project Description
              </label>
              <div class="col-sm-8">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
          </div>
          <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label" i18n>Do You Have a Server?</label>
              <div class="col-sm-8 pt-2">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input px-1" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1" i18n>Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input px-1" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2" i18n>No</label>
                  </div>

              </div>
          </div>

            <div class="form-group row"> 
                <label for="staticEmail" class="col-sm-4 col-form-label" i18n>Your Message</label> 
                <div class="col-sm-8">           
              <textarea class="form-control"  rows="5" placeholder="Message" i18n></textarea>
            </div> 
            </div>

            <div class="m-auto text-center my-5 py-3">
                <button class="btn btn-success py-2 px-5" i18n>Send</button>
            </div>
          </form>
    </div>

    <div class="col-md-6 pt-3">
        <h2 class="mb-3 text-center">Location</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.709211307423!2d31.25520809619822!3d29.959902625643007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjnCsDU3JzM0LjkiTiAzMcKwMTUnMjUuMSJF!5e0!3m2!1sen!2seg!4v1539824914592" 
        width="500" height="660" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
</div>
